.field {
    width:100%;
}
.card{
    width: 40%;
    margin: auto;
    padding: 20px;
    background: #fff;
}


.card h1{
    text-align: center;
    
}
.text-centre{
    text-align: center;
}

.card button{
    margin: 5px;
}