<div class="container">
    <div class="card">

        <form  #loginForm="ngForm" (ngSubmit)="doSubmitForm()" action="">
            
            <h1>Compose mail</h1>
            
            <mat-form-field class="field" appearance="outline">
                <mat-label>To</mat-label>
                <input   required #name="ngModel" email       name="to" [(ngModel)]="data.to" matInput placeholder="Placeholder"     ngModel>

            </mat-form-field>

            <mat-form-field class="field" appearance="outline">
                <mat-label>Subject</mat-label>
                <input name="subject" [(ngModel)]="data.subject" matInput placeholder="Placeholder">

            </mat-form-field>

            <mat-form-field class="example-full-width field">
                <mat-label>Enter your message</mat-label>
                <textarea  name="message" [(ngModel)]="data.message" rows="5" matInput placeholder="Here ,Write your message"></textarea>
            </mat-form-field>

            <div class="text-centre">
                <button  type="submit" mat-raised-button color="primary">Send</button>
                <button type="reset" mat-raised-button color="accent">Reset</button>

            </div>
        </form>
        
    </div>
</div>